/*!
 * Style der ZaPF-App
 */
h1, .hero-unit h1 {
  font-size: 32px;
}
.hero-unit {
  padding-top: 20px;
  padding-bottom: 20px;
}
.ak-unit {
  padding: 25px;
  margin-bottom: 20px !important;
  margin: 10px;
  background-color: #ddd;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
}
.ak-unit h2, .ak-unit h3 {
  line-height: 1;
  color: inherit;
  letter-spacing: -1px;
}
.ak-unit h2 {
  margin-bottom: 5px;
  font-size: 26px;
}
.ak-unit h2 i, .ak-unit h3 i {
  vertical-align: baseline;
  margin-right: 10px;
}
.ak-unit div.slottime {
  padding-bottom: 20px;
}
.ak-unit p, .ak-unit .room {
  font-size: 16px;
  font-weight: 200;
  line-height: 27px;
  color: inherit;
}
.ak-unit .room {
  float: left;
}
.ak-unit .aklink {
  float: right;
}
.clearboth {
  clear: both;
}
